

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ------------------------ */
  /* GENERAL STYLES */
  /* ------------------------ */
  body {
    font-family: "Kumbh Sans" sans-serif;
    background-color: hsl(240, 73%, 65%);
  }

  .container {
    max-width: 980px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 11px;

    
position: relative;
  }
  p{
    font-size: 16px;
    color:  hsl(240, 6%, 50%);
    font-weight: 400;
    margin-bottom: 16px;
}

  .FAQ{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
  }

  .heading {
    font-family: 700;
    font-size: 28px;
    /* margin-bottom: 32px; */
  }
  .item {
    display: grid;
    grid-template-columns: 1fr auto;
    /* padding: 24px; */
    border-bottom: 2px solid hsl(240, 6%, 50%);
    column-gap: 15px;
    /* row-gap: 26px; */
  }

  
  
  .image {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size:cover;
    transform: translate(-20%, -60%);
  }
  .text {
    color: hsl(238, 29%, 16%);
    font-size: 18px;
    font-weight: 500;
 
  }
  .open img{
    transform: rotate(180deg);
  }
  .open .text{
    color: #212529;
    font-weight: 700;
  }
  .open .hidden-box{
    display: block;
  }
  
  .hidden-box{
    display: none;
  }
  .img-mob{
    width: 100%;
    transform: translate(-5%, 70%);
    /* position: absolute; */
  }

  @media (min-width: 375px) and (max-width: 756px){
    .container {
        max-width: 320px;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        
        
    }
    .FAQ{
        margin-top: -20px;
    }

    
      .img-mob{
        transform: translate(-5%, 10%)
        
      }
      .image {
        background-image: none;
      }
  }